<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>About Page</title>
</head>
<body>
    <h1>{{> header}}</h1>
    <h1>{{pageTitle}}</h1>
    <h2>Node JS is Shining</h2>
    <p>
        Firefox is having trouble recovering your windows and tabs. This is usually caused by a recently opened web page.
        You can try:
        Removing one or more tabs that you think may be causing the problem
        Starting an entirely new browsing session
    </p>
    {{> footer}}
</body>

</html>