<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>About Page</title>
</head>
<body>
    <h1>{{> header}}</h1>
    <h1>{{pageTitle}}</h1>
    <h2>Node JS is Shining</h2>
    <p>
        AWS Elastic Beanstalk Documentation
         With AWS Elastic Beanstalk, you can quickly deploy and manage applications in the AWS Cloud 
        without worrying about the infrastructure that runs those applications. AWS Elastic Beanstalk
        reduces management complexity without restricting choice or control. 
        You simply upload your application, and 
        AWS Elastic Beanstalk automatically handles the details of capacity provisioning, 
        load balancing, scaling, and application health monitoring.

    </p>
    {{> footer}}
</body>

</html>